.card {
  width: 320px;
  border: 1px solid gray;
  box-shadow: 1px 1px 3px #888;
  border-top: 10px solid green;
  min-height: 250px;
  padding: 10px;
  margin: 10px;
  background-color: white;
}

img {
  border-radius: 50%;
  width: 70px;
  margin: 10px;
}

h1 {
  font-weight: lighter;
  margin-left: 100px;
  margin-top: -70px;
  color: red;
}

p {
  margin: 10px;
  font-family: segoe ui;
  line-height: 1.4em;
  font-size: 1.2em;
}

#mainbox {
  font-family: calibri;
  box-sizing: border-box;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}
body {
  background-color: rgb(226, 236, 236);
}
h2 {
  margin-top: 40px;
  text-align: center;
  color: red;
  font-size: 30px;
}

span {
  color: black;
}

.card-row {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin: 0px 10px;
}

.img1 {
  width: 100%;
  height: 50%;
  background-repeat: no-repeat;
  background-size: cover;
}
.text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.home {
  margin-top: 180px;
  margin-left: 50px;
}

.name {
  margin-top: 230px;
  margin-left: 60%;
}
.name1 {
  color: Green;
}
